<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"content="IE=edge">
    <meta name="viewport"content="width=device-width,initial-scale=1.0">
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <form class="ui center alinged form" action="/api/user/signup" method="POST">
    <h2 class="ui header">registro</h2>
      <div class="fields">
        <div class="three wide field">
          <label>Email</label>
          <input type="text" name="username" placeholder="Email" id="username">
        </div>
        <div class="three wide field">
          <label>Nombre</label>
          <input type="text"  name="nombre" placeholder="Nombre" id="nombre">
        </div>
        <div class="three wide field">
          <label>password</label>
          <input type="text" name="password" placeholder="password" id="password">
        </div>
        <div class="three wide field">
          <label>edad</label>
          <input type="number" name="edad" placeholder="edad" id="edad">
        </div>
      </div>
      <div class="fields">
        <div class="six wide field">
          <label>direccion</label>
          <textarea rows="1" name="direccion" placeholder="direccion" id="direccion"> </textarea>
        </div>
      </div>
       <div class="fields">
        <div class="six wide field">
          <label>telefono</label>
          <textarea rows="1" name="telefono" placeholder="telefono" id="telefono"> </textarea>
        </div>
      </div>
       <div class="fields">
        <div class="six wide field">
          <label>imagen</label>
          <textarea rows="1" name="imagen" placeholder="imagen" id="imagen"> </textarea>
        </div>
      </div>
      <button rows="1" class="ui green left labeled icon button" >
        <i class="send icon"></i>
        Registrarse
      </button>
    </form>
    <br>
    <a href="/api/user/login"> 
    <button rows="1" class="ui blue button">
        Iniciar Sesión
    </button>
    </a>
</body>
</html>
